<div class="admin-nav">
  <%= link_to Tour.model_name.human, admin_tours_path %>
  <%= link_to Company.model_name.human, admin_companies_path %>
  <%= link_to Manager.model_name.human, admin_managers_path %>
</div>
