$primary-gray: #373e44;
$primary-white: #fbfdff;
$primary-blue: #09529b;
$light-blue: #118af4;
$secondary-blue: #22649e;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $primary-white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $primary-gray;
}

// this should probably be in a separate file
.flex {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-item {
  flex: 0 0 auto;
  margin: 0 20px;
}

// this doesn't work yet
.fields {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  label {
    flex: 0 0 auto;
  }
  input {
    flex: 0 0 auto;
    align-self: flex-end;
  }
}

.input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.submit{
  padding: 5px 20px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: #09529b;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.submit-booking {
  padding: 5px 20px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: #219653;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.submit-booking:hover {
  background: color(#219653 shade(20%));
}

.submit:hover {
  background: color(#09529b shade(20%));
}

.btn {
  padding: 5px 20px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: #09529b;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.btn:hover {
  background: color(#09529b shade(20%));
}

.red {
  background: #EB5757;
}

.red:hover {
  background: color(#EB5757 shade(20%));
}

@media screen and (max-width: 479px) {
  .btn {
    margin: 5px 0;
  }

  .submit-booking {
    margin: 5px 0;
  }

  .submit{
    margin: 5px 0;
  }
}
