.container .row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.row .row {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .row,
  .container .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
