.tour-carousel {
  display: block;
  width: 100%;

  &--title {
    padding-top: 15px;
  }

  &--item {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    display: inline-block;
    width: 33%;
    padding-right: 3.33%;

    img {
      object-fit: fill;
      border-radius: 12px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .tour-carousel {
    padding-left: 10px;
    padding-right: 10px;

    &--item {
      width: calc(33% - 2px);
    }
  }
}
