<p id="notice"><%= notice %></p>

<p>
  <strong>Signup:</strong>
  <%= @booking_date.commit %>
</p>

<%= link_to 'Edit', edit_booking_date_path(@booking_date) %> |
<%= link_to 'Back', booking_dates_path %>
