<div class="booking-booked-item-actions">
  <%= c "booking/button", href: @tour_path do %>
    Voir la fiche
  <% end %>
  <%= c "booking/button", href: @comment_path  do %>
    Commenter
  <% end %>
</div>
