<div class="tour-datepicker">
  <div class="field">
    <h2>Dates</h2>
    <% unless @disable_edit %>
      <div id="calendar" data-locale="<%= I18n.locale %>" data-target="<%= @form_target %>">
      </div>
    <% else %>
      <p><%= t(".admin_edit") %></p>
    <% end %>
  </div>
</div>
