<footer class="footer">
  <%= c "container" do %>
    <div class="footer--wrapper">
      <div class="footer--legal">
        <strong>© Braaam </strong><span class="footer--legal--container4">- made with care by <a href="https://container4.ch">Container4</a></span>
      </div>
      <div class="footer--social">
        <a href="https://www.facebook.com/ABRAAAMCADABRA/"><%= c "fontawesome_icon", icon: "fab fa-facebook-square fa-lg" %>@ABRAAAMCADABRA</a>
        <a href="https://www.instagram.com/braaamworld/"><%= c "fontawesome_icon", icon: "fab fa-instagram fa-lg" %>braaamworld</a>
      </div>
    </div>
  <% end %>
</footer>
