<h1><span style="font-size:14px">Une nouvelle réservation vient d'être effectué,</span></h1>

<ul>
  <li>Tournée: <%= @tour_name %></li>
  <li>Date résérvé: <%= @booked_date %></li>
  <li>Client: <%= @company_name %> - <%= @company_email %></li>
</ul>

<p><span style="font-size:14px">Merci de prendre les mesures nécessaires.</span></p>
