<h1><span style="font-size:14px">Braaamjour <%= @company_name.to_s %>,</span></h1>

<p><span style="font-size:14px">Nous avons le plaisir de vous confirmer votre reservation du <strong><%= @booked_date.to_s %></strong> pour <strong><%= @tour_name.to_s %></strong>.</span><br>
<br>
<span style="font-size:14px">Un email vous serra envoyé sous peu avec le contract.</span></p>
