<%= c "tour/index_hero" %>
<div style="margin-top: 40px;"></div>
<%= c "tour/index", tours_collection: @tours_summer, title: :summer %>
<div style="margin-top: 60px;"></div>
<%= c "tour/index", tours_collection: @tours_winter, title: :winter %>
