.booking-button {
  padding: 5px 20px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.red {
  background: #EB5757;
}

.red:hover {
  background: color(#EB5757 shade(20%));
}

.green {
  background: #219653;
}

.green:hover {
  background: color(#219653 shade(20%));
}
