<h1>Editing Admin Tour Date</h1>

<%= render 'form', admin_tour_booking_date: @admin_tour_booking_date %>

<%= link_to 'Show', @admin_tour_booking_date %> |
<%= link_to 'Back', admin_tour_booking_dates_path %>
