<header class="header">
  <%= c "container" do %>
    <div class="header--container">
      <div class="header--container--brand">
        <%= link_to "BRAAAM", root_path %>
      </div>
      <nav class="header--container--navigation">
        <%= link_to t(".french"), url_for( :locale => 'fr' ) unless I18n.locale.eql?(:fr) %>
        <%= link_to t(".english"), url_for( :locale => 'en' ) unless I18n.locale.eql?(:en) %>
      </nav>
    </div>
  <% end %>
</header>
