.tour-booking-btn {
  margin: 0px 10px 15px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #fbfdff;
  cursor: pointer;
  text-decoration: none;
  color: #118af4;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

  &--text {
    display: inline-block;
    padding-left: 7px;
  }

  &--status {
    margin-right: 15px;
    display: inline-block;
    color: #EB5757;
  }
}
